
table{
    border-radius: 10px;
    text-align: center;
}


#all
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1250px;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: xx-large;
}

#submit
{
    margin-left: 250px;
    margin-top: 20px;
}

#salbutton
{
    margin-top: -38px;
}

#addbutton
{
    margin-left: 1080px;
}

#delbutton
{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: red;
}

#updbutton
{
    margin-top: 0px;
    margin-left: 0px;
    color: green;
}

#policybutton
{
    color: darkred;
    font-weight: 800;
    background-color: lightskyblue;    
}

#body
{
    overflow-x: auto;
}

#check
{
    margin-left: 10px;
    font-size: xx-large;
}
